<div class="text-center">
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    </div>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Continente</th>
                <th scope="col">Total de Casos Confirmados</th>
                <th scope="col">Novos Casos</th>
            </tr>
        </thead>
        <tbody>
            
                <% i = 0 %>
                <%= while i <= 5 do %>
                    <tr>
                        <td><%= @sumary_service['data'][i]['CountryOther'] %></td>
                        <td><%= @sumary_service['data'][i]['TotalCases'] %></td>
                        <td><%= @sumary_service['data'][i]['NewCases']%></td>
                        </tr>
                        <% i += 1%>
                <% end %>

        </tbody>
    </table>
</div>

