<h1>Dados Atualizados do COVID19</h1>
<p>Confirmados: <%= @sumary_service['confirmed']['value'] %></p>
<p>Recuperados: <%= @sumary_service['recovered']['value'] %></p>
<p>Mortos: <%= @sumary_service['deaths']['value'] %> </p>