<div class="text-center">
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    </div>
    <br />
    <div>
        <img src="https://blog.opto22.com/hs-fs/hubfs/COVID-19_logo.png?width=900&name=COVID-19_logo.png" width="450">
    </div>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Casos Confirmados</th>
                <th scope="col">Mortos</th>
                <th scope="col">Recuperados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Dados</th>
                <td><%= @sumary_service2['data']['Cases'] %></td>
                <td><%= @sumary_service2['data']['Dead'] %></td>
                <td><%= @sumary_service2['data']['Recover'] %></td>
            </tr>
        </tbody>
    </table>
</div>